<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Face Recognition</title>
  <link rel="stylesheet" href="css/payment.css">
</head>
<body>
  <div
    style="display: block;
  box-sizing: border-box; padding: 20px 20px; border: 1px solid currentColor; background-color: red; border-radius:10px;">
    <video id="videoInput" width="520" height="350" muted controls>
  </div>
  <div>
    <% users.forEach(user=> { %>
       <!-- Hidden html element for storing the registered users which will be used in the recognition process -->
      <p id="registerUser" style="display:none;"><%= user.name %></p>
      <% }) %>
  </div>
  <form id="formLabel" style="margin-top:3rem" method="post">
    <button class="btn-6" type="submit">submit</button>
  </form>
</body>
 <!-- face-api.js api script -->
<script defer src="js/face-api.min.js"></script>
 <!-- recognition.js script for the face recognition process -->
<script defer src="js/recognition.js"></script>
</html>