<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Recognition</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        canvas{
            position: absolute;
        }
    </style>
</head>
<body>
  <form id="formLabel"  method="post">
    <button type="submit" value="iitianakshatsinghal@gmail.com">submit</button>
  </form>
    <video id="videoInput" width="720" height="550" muted controls >
      <div>
    <% users.forEach(user => {  %>
      <p id="registerUser" style="display:none;" ><%= user.name %></p>
    <%  }) %>
  </div>
</body>
<script defer  src="js/face-api.min.js"></script>
    <script defer  src="js/recognition1.js"></script>
</html>



<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Face Recognition</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column
    }

    canvas {
      position: absolute;
      top: 0;
      left: 0;
    }
  </style>
</head>
<body>
  <input type="file" id="imageUpload">
</body>

      <script defer src="js/face-api.min.js"></script>
      <script defer src="js/recognition.js"></script>

</html> -->