<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Autofocus Field</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        height: 100vh;
      }
      .container {
        display: flex;
        flex-flow: column;
        height: 100%;
        width: 100%;
        align-items: space-around;
        justify-content: center;
      }

      .heading-text {
        font-size: 3.5em;
        font-weight: bold;
        color: #000;
        text-align: center;
      }

      .subheading-text {
        color: #8e8e8e;
        text-align: center;
      }

      button {
        width: 130px;
        height: 40px;
        margin: 35px auto 0px auto;
        font-family: arimo;
        font-size: 0.8rem;
        border: none;
        border-radius: 5px;
        letter-spacing: 0.5px;
        cursor: pointer;
        color: #ff0000;
        font-weight: 900;
        background: #9a9a9a94;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="heading-text">
        Thank you<span style="color: #ff0000">.</span>
      </h1>
      <p class="subheading-text">
        Your order has been placed.😎<br />Sit tight.
      </p>
      <a href="/"><button>HOME PAGE</button></a>
    </div>
  </body>
</html>
