<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;500&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="margin:0;padding:0;box-sizing:border-box;font-family:Inter;background-color: #F5F5F5;">
    <div style="border: 1px solid black;display:flex;justify-content: center;height:100vh;width:100vw;">
        <div style="display:flex;flex-direction: column;justify-content: center;align-items: center;padding:0 20px">
            <div style="display: flex;flex-direction: column;justify-content: flex-start;">
                <h1 style="color:#000000;font-size: 80px;margin:0;">Thank you <span style="color:#FF0000;font-size:30px;position: relative;left:-20px;top:6px;">&#9679;</span></h1>
                <div style="display:flex;flex-direction: column;">
                    <p style="color:#828282;display:flex;flex-direction: column;justify-content: center;align-items: center;font-size: 18px;">Your order has been placed.<span>Sit tight.</span></p>
                </div>
            </div>
            <div>
                <a href="/"><button style="background-color: #9A9A9A;border:none;outline:none;border-radius: 5px;color: #F94747;cursor: pointer;font-size: 15px;padding: 10px 20px;margin-top: 40px;">Home Page</button></a>
            </div>
        </div>
    </div>
</body>
</html> -->

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Autofocus Field</title>
    <link rel="stylesheet" type="text/css" href="css/thankyoustyle.css" />
  </head>
  <body>
    
      <div class="container">
        <h1 class="heading-text">Thank you<span style="color: #FF0000;">.</span></h1>
        <p class="subheading-text">Your order has been placed.😎<br>Sit tight.</p>
        <button>HOME PAGE</button>
      </div>
    
    <script>
        function clickEvent(first,last){
			if(first.value.length){
				document.getElementById(last).focus();
			}
		}
    </script>
  </body>
</html>
